/* gui.css */

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../src/imgs/braille.jpg');
    background-size: cover;
    background-position: center;
}

.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); /* Add opacity to the background */
    color: white; /* Text color */
}

.file-input {
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.convert-button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.convert-button:hover {
    background-color: #0056b3;
}

.convert-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
.uploaded-image{
    height:200px;
}
